img{
    display:block;
    border-radius: 50%;
    margin:0px;
}
label{
    text-align:center;
    display:block;
}
button {
    margin:auto;
    display:block;
}
input{
    margin:auto;
    display:block;
}